In [18]:
import pandas as pd

In [19]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\yarag\anaconda3\lib\site-packages (2.9.3)

In [20]:
import psycopg2
params_dic = {
    "host"      : "localhost",
    "database"  : "postgres",
    "user"      : "postgres",
    "password"  : "123456"
}

conn = psycopg2.connect(**params_dic)
cursor1 = conn.cursor()

In [21]:
cursor1.execute('select company_name,city, country,count(order_id)as orders_number from customers c left join orders o on c.customer_id =o.customer_id group by company_name, city, country')

In [22]:
df = pd.DataFrame(cursor1.fetchall(),columns=['company_name','city','country','count']) 
df

                            company_name            city      country  count
0                Great Lakes Food Market          Eugene          USA     11
1                        Du monde entier          Nantes       France      4
2               Lonesome Pine Restaurant        Portland          USA      8
3                     Richter Supermarkt          Genève  Switzerland     10
4   FISSA Fabrica Inter. Salchichas S.A.          Madrid        Spain      0
..                                   ...             ...          ...    ...
86                  La corne d'abondance      Versailles       France      4
87                Océano Atlántico Ltda.    Buenos Aires    Argentina      5
88                         Hanari Carnes  Rio de Janeiro       Brazil     14
89                    Ottilies Käseladen            Köln      Germany     10
90                   France restauration          Nantes       France      3

[91 rows x 4 columns]